<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="/static/courses.css"/>
</head>
<body>

<div class="topnav">
    <a href="/home">Home</a>
    <a class="active" href="/courses">Courses</a>
    <a href="/schedule_builder">Schedule Builder</a>
</div>

<form class="form">

  <h2>Checkboxes</h2>
  <div class="inputGroup">
      <input id="option1" name="option1" type="checkbox"/>
      <label for="option1">Option One</label>
  </div>

  <div class="inputGroup">
      <input id="option2" name="option2" type="checkbox"/>
      <label for="option2">Option Two</label>
  </div>

  <h2>Radio Buttons</h2>
  <div class="inputGroup">
      <input id="radio1" name="radio" type="radio"/>
      <label for="radio1">Yes</label>
  </div>
  <div class="inputGroup">
      <input id="radio2" name="radio" type="radio"/>
      <label for="radio2">No</label>
  </div>
</form>



<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

<script src="/static/javascript/courses.js"></script>
</body>
</html>